.svgBurgerBtn {
	border: 0;
	padding: 0;
	background: none;
	height: 100%;

	svg {
		width: 60px;
		height: 50px;
		stroke: rgb(0, 0, 0);
		stroke-linecap: round;
		cursor: pointer;
		overflow: visible; /* Allows lines to rotate freely */

		/* SHARED STYLES FOR ALL LINES */
		line {
			stroke-width: 3px;
			/* The Pivot Point: Rotate from the center of the line */
			transform-origin: center;
			/* Smooth Animation: 0.3s speed */
			transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
		}
	}

	/* ANIMATION STATES 
    When the parent div has the class .open...
    */

	/* 1. Top Line: Move down 10px and Rotate 45deg */
	&.open .top {
		transform: translateY(10px) rotate(45deg);
	}

	/* 2. Middle Line: Fade out and move slightly left */
	&.open .middle {
		opacity: 0;
		transition: 0.2s ease-in-out;
		transform: translateX(-10px);
	}

	/* 3. Bottom Line: Move up 10px and Rotate -45deg */
	&.open .bottom {
		transform: translateY(-15px) rotate(-45deg);
	}

	svg:hover {
	}
}

@media (width >= 900px) {
	.svgBurgerBtn {
		display: none;
	}
}
