.sideBarCon {
    position: fixed;
    height: calc(100dvh - var(--navHeight));
    width: 75dvw;
    background-color: var(--primary-color);
    z-index: 999;
    transform: translateX(calc(-100% ));
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    overflow: hidden;

    .sideBar {
        margin-top: 40px;
        margin-inline: 16px;
    

        .sideNavLinks {
            ul {
                display: flex;
                flex-direction: column;
                gap: 30px;

                a {
                    display: block;
                    padding-inline:16px;
                }
                
            }
        }
    }

    .sideDonateBtnWrap {
        position: absolute;
        top: 90%;
        width: 100%;
        margin-inline:-16px;
        

        button {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}

.sideBarConOpen {
   transform: translateX(0);
   /* You usually add a shadow here to denote elevation */
   box-shadow: 2px 0 4px rgba(0,0,0,0.1);
}


@media (width >= 900px) {
    .sideBarCon {
        display: none;
        /* Ensure it doesn't take up layout space or trigger events */
        visibility: hidden; 
        pointer-events: none;
    }
}