.sideBarCon {
    position: fixed;
    height: 100vh;
    width: 75vw;
    background-color: var(--primary-color);
    z-index: 999;
    transform: translateX(calc(-75vw - 1rem));
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sideBarConOpen {
   transform: translateX(-1rem);
   transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


@media (width >= 600px) {
    .sideBarCon {
        display: none;
    }
}